# ================================================	start of C# projects	================================================ #
# Build Folders
/**/**/**/bin/
/**/**/**/obj/

# ================================================	end of C# projects		================================================ #


# VS Code settings
.vscode/
.vs
